@import '../../../styles/config';

.row {
  justify-content: center;
}

.col {
  position: relative;
}
.infoSvg{
  width: 23px;
  margin-right: 7px;
  display: inline;
}
.tooltip {
  @include size(23px);

  position: absolute;
  z-index: 1;
  top: 30px;
  right: 30px;
}
