@import '../../../../styles/config';

.block {
  @include size(100%, 175px);

  text-align: center;
  font-weight: var(--medium);
}

.wrapper {
  @include size(100%);
  @include flex(center, center, column);

  position: relative;
}

.text {
  font-size: 20px;
  text-transform: uppercase;
}

.value {
  font-size: 14px;
}
