//
// Set transition
//

@mixin transition($prop: all, $duration: 0.4s, $easing: ease-in-out) {
  transition-duration: $duration;
  transition-property: $prop;
  transition-timing-function: $easing;
}
