//$base-grid-padding: 	15px;
//$base-grid-margin: 		15px;

//$grid-padding: $base-grid-padding;
//$grid-margin: $base-grid-margin;

$brackpoints: (
        'xs': 400,
        'sm': 576,
        'md': 768,
        'lg': 992,
        'xl': 1200
);
