@import '../../../../styles/config';

.block {
  @include size(100%, 180px);

  max-width: 180px;
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--medium);

  @include media-max(map_get($brackpoints, xl) - 1) {
    max-width: 210px;
  }
}

.wrapper {
  @include size(100%);
  @include flex(center, center, column);

  position: relative;
}

.text {
  font-size: 14px;

  @include media-max(map_get($brackpoints, md) - 1) {
    font-size: 12px;
  }
}

.value {
  font-size: 30px;

  @include media-max(map_get($brackpoints, md) - 1) {
    font-size: 24px;
  }
}
