@import '../../../styles/config';

.title {
  margin: var(--default-title-outher);
  max-width: 450px;
  text-align: center;
}

.list {
  @include flex($justify-content: center, $wrap: nowrap);

  overflow: hidden;
  padding-top: 10px;

  @include media-max(map_get($brackpoints, xl) - 1) {
    flex-wrap: wrap;
  }

  @include media-max(map_get($brackpoints, md) - 1) {
    justify-content: flex-start;
  }
}

.card {
  margin: 0 15px 30px;

  &.top {
    animation: slide-2 3s ease-in-out 0.2s infinite;
  }

  &.bottom {
    padding-top: 40px;
    animation: slide-1 3s ease-in-out 0.2s infinite;
  }

  &:nth-child(1),
  &:nth-child(4) {
    @include media-max(map_get($brackpoints, xl) - 1) {
      justify-content: flex-start;
    }

    @include media-max(map_get($brackpoints, md) - 1) {
      justify-content: center;
    }
  }

  &:nth-child(3),
  &:nth-child(5) {
    @include media-max(map_get($brackpoints, xl) - 1) {
      justify-content: flex-end;
    }

    @include media-max(map_get($brackpoints, md) - 1) {
      justify-content: center;
    }
  }

  &:nth-child(4) {
    @include media-max(map_get($brackpoints, xl) - 1) {
      padding-top: 0;
    }

    @include media-max(map_get($brackpoints, md) - 1) {
      padding-top: 40px;
    }
  }

  &:nth-child(5) {
    @include media-max(map_get($brackpoints, xl) - 1) {
      padding-top: 40px;
    }

    @include media-max(map_get($brackpoints, md) - 1) {
      padding-top: 0;
    }
  }

  @include media-max(map_get($brackpoints, xl) - 1) {
    @include flex(center);

    flex: 1 1 33.3%;
    max-width: 33.3%;
    margin: 0 0 30px 0;
  }

  @include media-max(map_get($brackpoints, md) - 1) {
    flex: 1 1 50%;
    max-width: 50%;
  }
}

@keyframes slide-1 {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0, 5px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes slide-2 {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0, -5px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
