@import '../../../../styles/config';

.block {
  height: 540px;
  background-size: 200% 200%;
  animation: background 3s infinite linear;

  &:hover {
    animation: background 1s infinite linear;
  }
}

@keyframes background {
  0% {
    background-position: 0 80%;
  }
  50% {
    background-position: 100% 20%;
  }
  100% {
    background-position: 0 80%;
  }
}

.wrapper {
  @include flex($direction: column);
  @include size(100%);

  position: relative;
  padding: 22px 20px;
}

.top {
  @include flex($align-items: center);

  border-bottom: 1px solid #C4C4C4;
  padding-bottom: 15px;
}

.center {
  @include flex($align-items: center, $wrap: wrap);

  padding: 15px 0;
  flex-grow: 1;
}

.bottom {
  @include flex($align-items: flex-end);

  padding: 15px 0;
  border-top: 1px solid #C4C4C4;
}

.item {
  flex: 1 1 50%;

  &.wide {
    margin-top: -50px;
    flex: 1 1 100%;
    width: 100%;
  }
}

.picture {
  @include size(80px);
  margin-right: 15px;
  margin-left: -12px;

  @include media-max(map_get($brackpoints, xl) - 1) {
    @include size(70px);
  }
}

.title,
.percent {
  font-size: 22px;

  @include media-max(map_get($brackpoints, xl) - 1) {
    font-size: 18px;
  }
}

.percent {
  font-weight: var(--medium);
}

.button {
  //max-width: 150px;
  text-align: right;

  & button {
    width: 85%;
    display: inline-block;
  }

  @include media-max(map_get($brackpoints, xl) - 1) {
    max-width: 135px;

  }
}

.value {
  font-size: 20px;
  font-weight: var(--medium);
}

.label {
  font-size: 14px;
}

.locked {
  flex-grow: 1;
  font-family: var(--font-family-additional);
}

.total {
  text-align: right;
  font-family: var(--font-family);
  font-weight: var(--medium);
  line-height: 1.2;

  @include media-max(map_get($brackpoints, xl) - 1) {
    font-size: 22px;
  }
}

.btn_group {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  & button {
    display: inline-block;
    width: 70%;
    min-width: auto;
    height: 25px;

    &:last-child {
      margin-top: 10px;
    }
  }
}

.plus {
  display: flex;
  align-items: self-end;
  justify-content: center;
  width: 50%;
}

.btn_count {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: 50%;
}

