@import '../../../styles/config';

.container {
  max-width: 980px;

  &::before {
    @include size(1500px, 2475px);

    position: absolute;
    top: 50%;
    left: -490px;
    transform: translateY(-50%);
    background: radial-gradient(50% 50% at 50% 50%, #792F70 0%, rgba(89, 59, 85, 0) 100%);
    z-index: -1;
    content: '';
  }
}

.row {
  align-items: center;
}

.title,
.text {
  @include media-max(map_get($brackpoints, md) - 1) {
    text-align: center;
  }
}

.text {
  margin: 26px 0;

  @include media-min(map_get($brackpoints, xl) - 1) {
    font-size: 18px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.picture {
  @include size(100%, 600px);

  position: relative;
  max-width: 460px;
  margin-left: 20px;

  @include media-max(map_get($brackpoints, xl) - 1) {
    max-width: 260px;
    height: 350px;
  }

  @include media-max(map_get($brackpoints, md) - 1) {
    margin: 0 auto 20px;
    max-width: 230px;
    height: 300px;
  }
}

.img {
  position: absolute;

  &:nth-child(1) {
    @include size(190px, 500px);

    top: 0;
    left: 0;
    animation: slide-1 3s ease-in-out 0s infinite;

    @include media-max(map_get($brackpoints, xl) - 1) {
      @include size(114px, 290px);
    }

    img {
      filter: blur(5px);
      transform: rotateZ(-5deg);
    }
  }

  &:nth-child(2) {
    @include size(205px, 500px);

    top: 89px;
    left: 140px;
    animation: slide-2 3s ease-in-out 0.3s infinite;

    @include media-max(map_get($brackpoints, xl) - 1) {
      @include size(114px, 290px);

      top: 50px;
      left: 90px;
    }

    img {
      transform: rotateZ(20deg);
    }
  }
}

@keyframes slide-1 {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(-10px, -10px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes slide-2 {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(10px, -10px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
