:root {
  --color-white: #fff;
  --color-black: #000;

  --color-grey: #111;
  --color-primary: #993FA0;
  --color-secondary: #FDAD3E;

  --color-title: #fff;
  --color-text: #fff;

  --navigation-color: #111;
  --menu-color: #111;
  --icon-color: #FDAD3E;

  --description-background: linear-gradient(180deg, rgba(84, 84, 84, 0) 0%, #353535 50.52%, rgba(84, 84, 84, 0) 100%);
  --info-background: #111;
}
