@import '../../styles/config';

.block {
  @include flex($align-items: center);
}

.item {
  @include size(60px, 25px);

  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin: 0 6px;
  border: 1px solid var(--color-white);
  border-radius: 10px;

  &.active {
    border-color: var(--color-grey);

    .slide {
      transform: translate(100%, -50%);
      background-color: var(--color-grey);
    }

    .icon {
      color: var(--color-grey);
    }
  }
}

.slide {
  @include size(25px, 15px);

  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 6px;
  background-color: var(--color-white);
  transition: var(--default-transition);
}

.icon {
  @include size(16px, 18px);

  &:last-child {
    transform: scale(1.3);
  }
}
