$base-grid-column: 12;
$count-column: $base-grid-column;
$count-width: 100 / $count-column;

.section {
  padding: 100px 0;

  @include media-max(map_get($brackpoints, lg) - 1) {
    padding: 65px 0;
  }

  @include media-max(map_get($brackpoints, md) - 1) {
    padding: 55px 0;
  }
}

.container {
  position: relative;
  padding: 0 var(--grid-outher);
  max-width: var(--max-width);
  margin-right: auto;
  margin-left: auto;
  //border: 1px solid red;

  &-fluid {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: var(--grid-outher-fluid);
  margin-left: var(--grid-outher-fluid);
  //border: 1px solid red;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-right: var(--grid-outher);
  padding-left: var(--grid-outher);
  //border: 1px solid red;

  @for $i from 1 through $count-column {

    &-#{$i} {
      flex: 0 0 ($i * $count-width) * 1%;
      max-width: ($i * $count-width) * 1%;
    }
  }

  &-padding-vertical {
    padding-top: var(--grid-outher);
    padding-bottom: var(--grid-outher);
  }
}

@each $status, $brackpoints-size in $brackpoints {
  @media (min-width: $brackpoints-size + 'px') {

    .col-#{$status} {
      @for $i from 1 through $count-column {

        &-#{$i} {
          flex: 0 0 ($i * $count-width) * 1%;
          max-width: ($i * $count-width) * 1%;
        }
      }
    }
  }
}
